spring:
  profiles:
    active: h2
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
    path: /h2-console
    profiles:
      active: local
  jpa:
    hibernate:
      ddl-auto: update
      format_sql: true
    open-in-view: false
  sql:
    init:
      data-locations: classpath:data.sql
      schema-locations: classpath:table.sql
      mode: always
---
server:
  port: 8080
  profiles:
    active: local # 만약 application-prod.yml 파일을 로딩하고 싶다면, prod
spring:
  jpa:
    open-in-view: false
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          protocol: smtp
          starttls:
            enable: true
          ssl:
            trust:  smtp.gmail.com
            protocols: TLSv1.2
