server:
  port: 8080
spring:
  profiles:
    default: h2 # mysql : prod
  jpa:
    open-in-view: false
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          protocol: smtp
          starttls:
            enable: true
          ssl:
            trust:  smtp.gmail.com
            protocols: TLSv1.2
