# Action 페이지에 나타날 이름
name: keychain CI

# Event Trigger
# push할 때와 dev에 PR을 날릴 때 action이 돌아가도록 한다.
on:
  push:
  pull_request:
    branches: [ dev ]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODE_COV }}
          file: ./build/reports/jacoco/test/jacocoTestReport.xml

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Test with Gradle
      run: ./gradlew test

    - name: codecov gradle
      run: ./gradlew jacocoTestReport
      
    - name: codecov upload
      run: bash <(curl -s https://codecov.io/bash)
