name: Java CI with Maven

on:
  push:
    branches: [ release_3.0.0 ]
  pull_request:
    branches: [ release_3.0.0 ]
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    # Build
    - name: Build with Gradle
      run: ./gradlew build
      
    # 디렉토리 생성
    - name: Make Directory for deliver
      run: mkdir deploy

    # Jar 파일 복사
    - name: Copy Jar
      run: cp ./build/libs/*.jar ./deploy/

    # appspec.yml 파일 복사
    - name: Copy appspec.yml
      run: cp appspec.yml ./deploy
      
    # script files 복사
    - name: Copy script
      run: cp ./scripts/*.sh ./deploy

    # 파일 압축
    - name: Make zip file
      run: zip -r -qq -j ./jobda-keychain.zip ./deploy

    # S3 Bucket으로 copy
    - name: Deliver to AWS S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: aws s3 cp --region ap-northeast-2 --acl private ./jobda-keychain.zip s3://jobda-keychain/
      
  #  - name: Copy appspec
   #   run: cp appspec.yml ./deploy/
      
    # Deploy
    - name: Deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}      
      run: aws deploy create-deployment --application-name jobda-keychain --deployment-group-name jobda-keychain-group --file-exists-behavior OVERWRITE --s3-location bucket=jobda-keychain,key=jobda-keychain.zip,bundleType=zip --region ap-northeast-2 
